.bg-icon-container {
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    justify-self: end;
    grid-row: 1;
    grid-column: 1;
    right: -128px;
    top: -72px;
    z-index: -1;
}