<div class="@Class" style="@Style">
    <FluentCard>
        @ChildContent
    </FluentCard>
</div>

@code
{
    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = __builder => { };
}