@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens
@using System.Diagnostics.CodeAnalysis
@using snowcoreBlog.Frontend.SharedComponents.Components.Fluent;

@inherits LayoutComponentBase

@inject BodyFont BodyFont

<FluentDesignTheme Mode="DesignThemeModes.Dark" StorageName="theme" />
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<div class="root-layout-item">
    <FluentLayout @ref="_root">
        <AuthorizeView>
            <Authorized>
                <main>
                    <FluentStack Orientation="Orientation.Vertical">
                        <article>
                            @Body
                        </article>
                    </FluentStack>
                </main>
            </Authorized>
            <NotAuthorized>
                <main>
                    <FluentStack Class="h-100" VerticalGap="0" Orientation="Orientation.Vertical"
                        HorizontalAlignment="HorizontalAlignment.Stretch">
                        <GeneralNonAuthHeader Title="snowcore's Blog" LogoSvg="<svg/>" AccountLink="/Login" NavLinks="@(new PublicApi.Utilities.Dictionary.DictionaryWithDefault<string, string>(defaultValue: string.Empty)
                            {
                                ["Home"] = "home",
                                ["Blog"] = "blog",
                                ["About"] = "about"
                            })">
                        </GeneralNonAuthHeader>
                        <article class="h-100">
                            @Body
                        </article>
                    </FluentStack>
                </main>
            </NotAuthorized>
            <Authorizing>
                <main>
                    <FluentStack Orientation="Orientation.Vertical">
                        <GeneralNonAuthHeader Title="snowcore's Blog" LogoSvg="<svg/>" AccountLink="/Login" NavLinks="@(new PublicApi.Utilities.Dictionary.DictionaryWithDefault<string, string>(defaultValue: string.Empty)
                            {
                                ["Home"] = "home",
                                ["Blog"] = "blog",
                                ["About"] = "about"
                            })">
                        </GeneralNonAuthHeader>
                        <article>
                            <FluentLabel>Please wait, we are authorizing the user.</FluentLabel>
                        </article>
                    </FluentStack>
                </main>
            </Authorizing>
        </AuthorizeView>
    </FluentLayout>
</div>

@code
{
    private FluentLayout _root = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        if (firstRender)
        {
            await BodyFont.SetValueFor(_root.Element, "Source Sans 3");
        }
    }
}